<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <include type="ExportStyle">
        <link rel="stylesheet" href="../../../CSS/home/components/comment-modal.css">
    </include>
</head>

<body>
    <include type="export">
        <div class="comment-modal-container">
            <h1 class="title">Comente o que pensou do post</h1>
            <div class="inputs-container">
                <input type="text" placeholder="Comente">
                <input type="submit" value="Comentar">
            </div>
        </div>
    </include>

    <include type="ExportScript">
    
    </include>
</body>

</html>